body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #808080;
    width: 100%;
    text-align: center;
}
table, thead, th, tbody, tr, td{
    border: 0 none;
    padding: 2em;
}
table {
    width: 80%;
   margin: auto;     
}

.odd {
    background: #eee;
}